.card-whites{
	background-color: white;
	padding:40px;
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
	}

.site-button:hover{
	background-color: black;
	color:white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding:10px;
}
.list-inline i{
	font-size:50px;
	color: blue;
}
.list-inline i:hover{
	color: black;
}
.site-button{
	background-color: purple;
	color:white;
	padding: 15px 20px;
	border-radius:4px;
}